<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>



	<appSettings>

		<add key="TempoInicial" value="0800" />
		<add key="TempoFinal" value="1900" />
		<add key="Intervalo" value="10" />
		<add key="LimiteGeracaoDasNotas" value="19:00"/>
		<add key="PrimeiroNumeroDosAleatoriosSefaz" value="10000" />
		<add key="UltimoNumeroDosAleatoriosSefaz" value="15000" />
		<add key="LogDiarioPath" value="../../LogicalFiles/Log.csv"/>
		<add key="LogDeFalhasPath" value="../../logErro/"/>


	</appSettings>
	
	
</configuration>